Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88

Fixed case statement
  gps/deduce.go
Owners: @sdboyer

Fixed case statement
  gps/deduce.go
Owners: @sdboyer

travis.yml: Use correct filenames for arm (v6/7) release files
  .travis.yml
Owners: @sdboyer

upgrade toml import
  Gopkg.toml
Owners: @sdboyer

README.md: update installation instructions
  README.md
  docs/installation.md
Owners: @sdboyer

feat(deducer): Add staticDeducer to avoid doing HTTP request if the source is known from Gopkg.toml/lock files
  CHANGELOG.md
  cmd/dep/check.go
  cmd/dep/ensure.go
  cmd/dep/ensure_test.go
  cmd/dep/init.go
  cmd/dep/prune.go
  cmd/dep/status.go
  cmd/dep/status_test.go
  context.go
  context_test.go
  gps/deduce.go
  gps/example.go
  gps/manager_test.go
  gps/solution_test.go
  gps/solver_inputs_test.go
  gps/source_manager.go
  gps/source_manager_test.go
  gps/vcs_source_test.go
  gps/verify/lockdiff.go
  internal/fs/fs_test.go
  internal/importers/base/importer_test.go
  internal/importers/glide/importer_test.go
  internal/importers/glock/importer_test.go
  internal/importers/godep/importer_test.go
  internal/importers/govend/importer_test.go
  internal/importers/govendor/importer_test.go
  internal/importers/gvt/importer_test.go
  internal/importers/importertest/testcase.go
  internal/importers/vndr/importer_test.go
  manifest_test.go
  test_project_context_test.go
Owners: @sdboyer, @ibrasho, @carolynvs, @darkowlzz, @jmank88

Use exact match for machine and hostname comparison
  gps/deduce.go
Owners: @sdboyer

Removed error checks for netrc
  gps/deduce.go
Owners: @sdboyer

Changed linter megacheck(deprecated) to staticcheck (updated)
  Makefile
  hack/lint.bash
Owners: @sdboyer

gps: ignore "mod" VCS type in parseMetaGoImports
  gps/discovery.go
Owners: @sdboyer

gps: ignore "mod" VCS type in parseMetaGoImports
  gps/discovery.go
Owners: @sdboyer

gps: support loading credentials from a netrc file
  Makefile
  gps/deduce.go
  hack/lint.bash
Owners: @sdboyer

CHANGELOG: prepare for 0.5.2 release
  CHANGELOG.md
Owners: @sdboyer

Bitbucket API SCM resolution
  .gitignore
  gps/deduce.go
  gps/deduce_test.go
  gps/internal/bitbucketapi/bitbucketapi.go
  gps/internal/bitbucketapi/bitbucketapi_test.go
Owners: @sdboyer

CHANGELOG: prepare for 0.5.3 release
  CHANGELOG.md
Owners: @sdboyer

enabled persistent source caching by default
  CHANGELOG.md
  cmd/dep/main.go
  docs/env-vars.md
Owners: @sdboyer

add env vars to usage
  cmd/dep/main.go
Owners: @sdboyer

README: add note about seeking funding
  README.md
Owners: @sdboyer

Fix clean of submodules
  gps/vcs_repo.go
Owners: @jmank88

README: fix link
  README.md
Owners: @sdboyer

hack,internal: fix staticcheck
  hack/lint.bash
  internal/test/test.go
Owners: @sdboyer

docs/Gopkg.toml.md: fix toml example
  docs/Gopkg.toml.md
Owners: @sdboyer

gps: pass correct arguments to "git clean"
  gps/vcs_repo.go
Owners: @jmank88

CHANGELOG: prepare for 0.5.4 release
  CHANGELOG.md
Owners: @sdboyer

Add FreeBSD installation instructions
  README.md
Owners: @sdboyer

Use console instead of sh for command examples
  README.md
Owners: @sdboyer

Add FreeBSD installation instructions
  README.md
Owners: @sdboyer

Check the dependency slice length to avoid panic
  gps/solver.go
Owners: @sdboyer

Fix minor typo (caught by Lintian)
  cmd/dep/status.go
Owners: @darkowlzz

Extend docs on git+ssh auth
  docs/FAQ.md
Owners: @sdboyer

update CI for go 1.13
  .travis.yml
Owners: @sdboyer

CI: align env vars
  .travis.yml
Owners: @sdboyer

vendor: update Masterminds/semver to latest version
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Masterminds/semver/LICENSE.txt
  vendor/github.com/Masterminds/semver/collection.go
  vendor/github.com/Masterminds/semver/constraints.go
  vendor/github.com/Masterminds/semver/doc.go
  vendor/github.com/Masterminds/semver/error.go
  vendor/github.com/Masterminds/semver/fuzz.go
  vendor/github.com/Masterminds/semver/magic.go
  vendor/github.com/Masterminds/semver/parse.go
  vendor/github.com/Masterminds/semver/range.go
  vendor/github.com/Masterminds/semver/union.go
  vendor/github.com/Masterminds/semver/version.go
Owners: @sdboyer

Remove curl command that pipes to sh from install guide
  docs/installation.md
Owners: @sdboyer

Windows bin path updated properly
  README.md
Owners: @sdboyer

Fix windows binary link
  README.md
Owners: @sdboyer

Personal access token alternative
  docs/FAQ.md
Owners: @sdboyer

README: clarify current status of Go dependency management
  README.md
Owners: @sdboyer

Fixing install.sh for MacOS
  install.sh
Owners: @sdboyer

fix a typo
  cmd/dep/main.go
Owners: @sdboyer
