Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

docs: Update noverify info about path preservation
  CHANGELOG.md
  docs/Gopkg.toml.md
Owners: @sdboyer

dep: Add test of noverify's preservation behavior
  cmd/dep/testdata/harness_tests/ensure/noverify/hash_mismatch/README
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/Gopkg.toml
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/main.go
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/vendor/foo
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/vendor/github.com/sdboyer/deptest/deptest.go
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/initial/vendor/orphdir/.gitkeep
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/stdout.txt
  cmd/dep/testdata/harness_tests/ensure/noverify/vendororphans/testcase.json
Owners: @ibrasho

document how to run "dlv" for harness tests
  cmd/dep/testdata/harness_tests/README.md
Owners: @sdboyer

integration tests: run sequentially when updating test cases
  cmd/dep/integration_test.go
Owners: @sdboyer

Added missing word
  docs/migrating.md
Owners: @sdboyer

Grammar and missing word fixes
  docs/migrating.md
Owners: @sdboyer

Update daily-dep.md
  docs/daily-dep.md
Owners: @sdboyer

skip package itself and its sub package in govendor configs
  CHANGELOG.md
  internal/importers/govendor/importer.go
Owners: @sdboyer, @carolynvs

add basic usage to readme
  README.md
Owners: @sdboyer

gps: simplify boolean expression
  gps/solve_test.go
Owners: @sdboyer

gps: simplify `x = x <op> y` to `x <op>= y`
  gps/metrics.go
  gps/selection.go
  gps/trace.go
Owners: @sdboyer

gps: replace redundand lambda wrapper with method value
  gps/source.go
Owners: @jmank88

cmd/dep,gps: remove commented-out code
  cmd/dep/ensure.go
  gps/manager_test.go
  gps/pkgtree/pkgtree_test.go
Owners: @ibrasho, @sdboyer

cmd/dep: replace `len(x)<=0` with `len(x)==0`
  cmd/dep/init.go
Owners: @carolynvs

cmd/dep: replace `len(x)<=0` with `len(x)==0` (#2031)
  cmd/dep/init.go
Owners: @carolynvs

better information for panic on nil version
  gps/solver.go
Owners: @sdboyer

add alias support
  gps/alias.go
  gps/deduce.go
Owners: @sdboyer

add alias support with environment variables
  gps/alias.go
Owners: @sdboyer

add alias support with environment variables DEPALIAS
  gps/alias.go
Owners: @sdboyer

Update CHANGELOG.md
  CHANGELOG.md
Owners: @sdboyer

fix golint
  gps/alias.go
Owners: @sdboyer

add licence
  gps/alias.go
Owners: @sdboyer

format
  Gopkg.toml
  gps/alias.go
Owners: @sdboyer

revert edited Gopkg.toml
  Gopkg.toml
Owners: @sdboyer

retry for pr
  gps/alias.go
Owners: @sdboyer

retry for pr try remove none exists repo of bitbucket
  gps/alias.go
  gps/deduce_test.go
Owners: @sdboyer

Update build-all.bash
  hack/build-all.bash
Owners: @sdboyer

Added instruction for installing to Ubuntu by apt.
  README.md
Owners: @sdboyer

.travis.yml: update to Go 1.11.x
  .travis.yml
Owners: @sdboyer

testing: replace CopyTree with fs.CopyDir
  internal/test/integration/testproj.go
Owners: @sdboyer

appvoyer: verbose test execution
  appveyor.yml
Owners: @sdboyer

testing: compare entire 'final' directory
  cmd/dep/integration_test.go
  internal/test/integration/testcase.go
  internal/test/integration/testproj.go
Owners: @sdboyer

dep: add submodule testcase
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/final/main.go
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/final/vendor/github.com/pohly/deptestmodules/pkg/foo/foo.go
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/initial/main.go
  cmd/dep/testdata/harness_tests/ensure/submodules/case1/testcase.json
Owners: @ibrasho

gps: export content of git submodules
  CHANGELOG.md
  gps/vcs_source.go
Owners: @sdboyer, @jmank88

*: fmt and lint from `make`
  cmd/dep/status.go
  cmd/dep/status_test.go
  gps/verify/lockdiff.go
  internal/fs/fs.go
  internal/fs/fs_test.go
Owners: @darkowlzz, @sdboyer

hack: ignore Travis failures
  hack/coverage.bash
  hack/test.bash
Owners: @sdboyer

gps/pkgtree: fix linter for +build declaration
  gps/pkgtree/pkgtree.go
Owners: @sdboyer

cmd/dep: disable GOCACHE=off env var
  cmd/dep/dep_test.go
Owners: @sdboyer

travis.yml: add bitbucket.org ssh keys to known_hosts
  .travis.yml
Owners: @sdboyer

all: fix errors reported by lint
  cmd/dep/status.go
  internal/fs/fs.go
Owners: @darkowlzz, @sdboyer

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88
