Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

Implement vcs similar to go get
  .gitignore
  gps/deduce.go
Owners: @sdboyer

Update changelog
  CHANGELOG.md
Owners: @sdboyer

Fix tests. Revert back order
  gps/deduce.go
  gps/deduce_test.go
Owners: @sdboyer

Set order similar to go get
  gps/deduce.go
  gps/deduce_test.go
Owners: @sdboyer

Revert "Set order similar to go get"
  gps/deduce.go
  gps/deduce_test.go
Owners: @sdboyer

Add description for the -f flag and make template data fields string
  cmd/dep/status.go
Owners: @darkowlzz

Change help text. Add example text. Add test cases. Fix template bugs
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

Update tests
  cmd/dep/status_test.go
Owners: @darkowlzz

Squash the binary.
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

fix install script when curl is not available
  install.sh
Owners: @sdboyer

Update Changelog for #1549 and typo fixes
  CHANGELOG.md
  cmd/dep/status.go
Owners: @sdboyer, @darkowlzz

During installation if $GOPATH is unset fallback to `go env`
  install.sh
Owners: @sdboyer

Fix issue 1742 by replacing '>' with '>='
  gps/pkgtree/pkgtree.go
Owners: @sdboyer

Integrated changes
  docs/Gopkg.toml.md
  docs/yarn-error.log
Owners: @sdboyer

attempt to fix weird tick
  docs/Gopkg.toml.md
Owners: @sdboyer

Fixed the weird cross sign
  docs/Gopkg.toml.md
Owners: @sdboyer

Fixed another weird tick mark
  docs/Gopkg.toml.md
Owners: @sdboyer

Fixed typo
  docs/Gopkg.toml.md
Owners: @sdboyer

Fixed problems
  docs/Gopkg.toml.md
  docs/yarn-error.log
  website/yarn.lock
Owners: @sdboyer

Clarified which manifest fields apply only to the root project in docs. (#1710)
  docs/Gopkg.toml.md
  website/yarn.lock
Owners: @sdboyer

Fix typos
  docs/FAQ.md
  docs/Gopkg.lock.md
  docs/Gopkg.toml.md
  docs/daily-dep.md
  docs/deduction.md
  docs/ensure-mechanics.md
  docs/failure-modes.md
  docs/glossary.md
  docs/installation.md
  docs/introduction.md
  docs/migrating.md
  docs/new-project.md
  docs/the-solver.md
  gps/pkgtree/digest_test.go
  gps/prune.go
  gps/prune_test.go
Owners: @sdboyer

Optimize images with ImageOptim
  docs/assets/DigbyFlat.png
  docs/assets/DigbyFlat.svg
  docs/assets/DigbyFlatScene2.png
  docs/assets/DigbyFlatScene2.svg
  docs/assets/DigbyScene2Flat.png
  docs/assets/DigbyScene2Flat.svg
  docs/assets/DigbyScene2Shadows.png
  docs/assets/DigbyScene2Shadows.svg
  docs/assets/DigbyShadows.png
  docs/assets/DigbyShadows.svg
  docs/assets/DigbyShadowsScene2.png
  docs/assets/DigbyShadowsScene2.svg
  docs/assets/StatusGraph.png
  docs/assets/annotated-func-arrows.png
  docs/assets/base-arrows.png
  docs/assets/four-states.png
  docs/assets/func-toggles.png
  docs/assets/in-sync.png
  docs/assets/lock-back.png
  docs/assets/required-arrows.png
Owners: @sdboyer

add file extension to windows install golang/dep#1754
  install.sh
Owners: @sdboyer

add file extension to windows install golang/dep#1754
  install.sh
Owners: @sdboyer

Use `go env GOPATH` instead of env variable
  install.sh
Owners: @sdboyer

Chage the for loop style
  cmd/dep/status.go
Owners: @darkowlzz

Perform fixes, add tests, add display methods
  cmd/dep/status.go
  cmd/dep/status_test.go
  cmd/dep/testdata/harness_tests/status/old_constraints/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/old_constraints/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/status/old_constraints/initial/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/old_constraints/initial/Gopkg.toml
  cmd/dep/testdata/harness_tests/status/old_constraints/initial/main.go
  cmd/dep/testdata/harness_tests/status/old_constraints/stdout.txt
  cmd/dep/testdata/harness_tests/status/old_constraints/testcase.json
Owners: @darkowlzz

Improve solution-lock comparison and other minor fixes
  cmd/dep/status.go
  cmd/dep/testdata/harness_tests/status/old_constraints/initial/main.go
Owners: @darkowlzz

Make -f and -v compatible with -old
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

Squash merge with previous work done
  cmd/dep/status.go
Owners: @darkowlzz

Fix hyperlink for CoC in contribution guide
  CONTRIBUTING.md
Owners: @sdboyer

Remove incorrect FAQ entry
  docs/FAQ.md
Owners: @sdboyer

Update Changelog for #1553
  CHANGELOG.md
Owners: @sdboyer

Updated Arch installation instructions.
  docs/installation.md
Owners: @sdboyer

Fix user, etc. for docusaurus publish in travis
  .travis.yml
Owners: @sdboyer

travis: Try echoing across multiple lines
  .travis.yml
Owners: @sdboyer

travis: Remove docusaurus job
  .travis.yml
Owners: @sdboyer

status: add `-out` flag to `status` command
  cmd/dep/status.go
Owners: @darkowlzz

status: Add test case for `-out` flag
  Makefile
  hack/test.bash
Owners: @sdboyer

status: Default Template for details
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88
