Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88

check: Stop filepath.Join on vendor paths
  cmd/dep/check.go
  cmd/dep/testdata/harness_tests/check/hash_mismatch/stdout.txt
  cmd/dep/testdata/harness_tests/check/hash_version_mismatch/stdout.txt
  cmd/dep/testdata/harness_tests/check/unmet_constraint/stdout.txt
  cmd/dep/testdata/harness_tests/check/unmet_override/stdout.txt
  cmd/dep/testdata/harness_tests/check/vendororphans/stdout.txt
Owners: @sdboyer

test: .gitkeep the orphan dir
  cmd/dep/testdata/harness_tests/check/vendororphans/initial/vendor/orphdir/.gitkeep
  cmd/dep/testdata/harness_tests/check/vendororphans/stdout.txt
Owners: @sdboyer

ci: Use dep check to check dep
  Makefile
  hack/validate-vendor.bash
Owners: @sdboyer

ci: Don't validate license in testdata dir
  hack/validate-licence.bash
Owners: @sdboyer

check: Deterministically order all output
  cmd/dep/check.go
  cmd/dep/testdata/harness_tests/check/vendororphans/stdout.txt
Owners: @sdboyer

Add wikipedia link for CDCL in documentation
  docs/the-solver.md
Owners: @sdboyer

status: Accommodate new verify systems
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

add documentation explaining how to uninstall
  docs/uninstalling.md
Owners: @sdboyer

fs: Remove test fixture with symlink cycle
  internal/fs/fs_test.go
  internal/fs/testdata/symlinks/dir-symlink
Owners: @sdboyer

dep: Introduce noverify field to Gopkg.toml
  cmd/dep/check.go
  cmd/dep/ensure.go
  manifest.go
  txn_writer.go
Owners: @sdboyer, @ibrasho

check: Updated tests with clarified output
  cmd/dep/testdata/harness_tests/check/excess_inputs/stdout.txt
  cmd/dep/testdata/harness_tests/check/hash_mismatch/stdout.txt
  cmd/dep/testdata/harness_tests/check/missing_and_excess/stdout.txt
  cmd/dep/testdata/harness_tests/check/missing_inputs/stdout.txt
Owners: @sdboyer

check: Print check fails even if noverify
  cmd/dep/check.go
Owners: @sdboyer

test: Cleanup detritus, fix doc comments
  internal/test/integration/testcase.go
  internal/test/integration/testproj.go
Owners: @sdboyer

docs: Update docs with info about noverify
  docs/Gopkg.toml.md
  docs/daily-dep.md
  docs/ensure-mechanics.md
  docs/env-vars.md
  docs/glossary.md
  docs/the-solver.md
Owners: @sdboyer

Deploy website
  docs/Gopkg.toml.html
  docs/daily-dep.html
  docs/ensure-mechanics.html
  docs/env-vars.html
  docs/glossary.html
  docs/the-solver.html
Owners: @sdboyer

Link in the uninstalling doc from the install doc page
  docs/installation.md
  docs/uninstalling.md
Owners: @sdboyer

Aha, figured out how to add the uninstalling.md link in the docs site
  website/sidebars.json
Owners: @sdboyer

add documentation explaining how to uninstall (#1954)
  docs/installation.md
  docs/uninstalling.md
  website/sidebars.json
Owners: @sdboyer

status: Place upper bounds on concurrency
  cmd/dep/status.go
Owners: @darkowlzz

Update CHANGELOG
  CHANGELOG.md
Owners: @sdboyer

verify: Exclude symlinks from hash digests
  cmd/dep/testdata/harness_tests/ensure/add/desync/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/exists-imports/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/exists-manifest-constraint/final/Gopkg.lock
  gps/verify/digest.go
  gps/verify/digest_test.go
  gps/verify/dirwalk.go
Owners: @ibrasho, @sdboyer

status: With -out, still emit to file on err
  cmd/dep/status.go
Owners: @darkowlzz

v0.5.0 release!
  CHANGELOG.md
  README.md
  cmd/dep/testdata/harness_tests/status/missing_pkgs_lock_mismatch/testcase.json
  txn_writer.go
  website/blog/2018-07-25-announce-v0.5.0.md
Owners: @sdboyer, @darkowlzz

Deploy website
  blog/2018/01/23/announce-v0.4.0.html
  blog/2018/07/25/announce-v0.5.0.html
  blog/atom.xml
  blog/feed.xml
  docs/FAQ.html
  docs/Gopkg.lock.html
  docs/Gopkg.toml.html
  docs/daily-dep.html
  docs/deduction.html
  docs/ensure-mechanics.html
  docs/env-vars.html
  docs/failure-modes.html
  docs/glossary.html
  docs/installation.html
  docs/introduction.html
  docs/migrating.html
  docs/new-project.html
  docs/the-solver.html
  docs/uninstalling.html
  sitemap.xml
Owners: @sdboyer

start work to support minimal module awareness
  gps/pkgtree/gomod.go
  gps/pkgtree/pkgtree.go
Owners: @sdboyer

fix data race in goModPath
  gps/pkgtree/gomod.go
Owners: @sdboyer

add license
  gps/pkgtree/gomod.go
Owners: @sdboyer

Fall back to 'sort.Slice' on Go 1.7 where 'sort.SliceStable' does not exist
  gps/constraint.go
  gps/lock_test.go
  gps/sort_go_1_8.go
  gps/sort_pre_go_1_8.go
Owners: @jmank88, @sdboyer

take a stab at moving modules to their proper paths
  gps/pkgtree/pkgtree.go
  gps/pkgtree/pkgtree_test.go
  gps/source.go
  gps/source_cache_bolt_encode.go
  gps/source_manager.go
  gps/source_test.go
Owners: @sdboyer, @jmank88

Fixing an edge case in lockdiff where all the projects may be removed from the lock file.
  gps/verify/lockdiff.go
  gps/verify/lockdiff_test.go
Owners: @sdboyer

Add ppc to travis release script
  .travis.yml
Owners: @sdboyer

gps: Handle case with fewer projects on RHS
  CHANGELOG.md
  gps/verify/lockdiff.go
  gps/verify/lockdiff_test.go
Owners: @sdboyer

Added instructions for installing to Debian distros with apt-get.
  README.md
Owners: @sdboyer

Adding Unit tests to increase coverage
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/initial/Gopkg.lock
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/initial/Gopkg.toml
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/initial/main.go
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/initial/vendor/github.com/sdboyer/deptest/deptest.go
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/stdout.txt
  cmd/dep/testdata/harness_tests/check/pruneopts_changed/testcase.json
  gps/_testdata/src/slash-star_confl/a.go
  gps/_testdata/src/slash-star_confl/b.go
  gps/pkgtree/pkgtree_test.go
  gps/verify/digest.go
  gps/verify/digest_test.go
Owners: @sdboyer

Add installation command for Fedora
  docs/installation.md
Owners: @sdboyer

Fix bug in preservation of vendor/.git
  txn_writer.go
Owners: @sdboyer

dep: Make noverify preserve excess vendor paths
  cmd/dep/check.go
  cmd/dep/testdata/harness_tests/check/noverify/hash_mismatch/stdout.txt
  cmd/dep/testdata/harness_tests/check/noverify/hash_version_mismatch/stdout.txt
  txn_writer.go
Owners: @sdboyer

pkgtree: fix handling of cyclic import graphs
  gps/pkgtree/pkgtree.go
  gps/pkgtree/pkgtree_test.go
Owners: @sdboyer

pkgtree: remove self-import special case
  gps/pkgtree/pkgtree.go
Owners: @sdboyer

dep: Relative paths in shasum release files
  hack/build-all.bash
Owners: @sdboyer
