Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88

status: introduce support for detailed output
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

status: document use of detail flag
  cmd/dep/status.go
Owners: @darkowlzz

status: process detail template output all-at-once
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

status: use lock flag to select default template
  cmd/dep/status.go
Owners: @darkowlzz

status: Formatted Sources
  cmd/dep/status.go
Owners: @darkowlzz

status: Renamed Default Template to Lock Template
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

status: Fixed imports in status.go
  cmd/dep/status.go
Owners: @darkowlzz

status: Handle code climate suggestion re: errs
  cmd/dep/status.go
Owners: @darkowlzz

Clarify dep ensure -update behavior for imports.
  docs/FAQ.md
  docs/ensure-mechanics.md
Owners: @sdboyer

Bump github.com/Masterminds/semver
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Masterminds/semver/constraints.go
  vendor/github.com/Masterminds/semver/parse.go
Owners: @sdboyer

Update changelog
  CHANGELOG.md
Owners: @sdboyer

Fix a typo "dependecy" -> "dependency"
  docs/FAQ.md
Owners: @sdboyer

Fix migrating solver doc link
  docs/migrating.md
Owners: @sdboyer

pkgtree_test: extract PackageTree comparison function
  gps/pkgtree/pkgtree_test.go
Owners: @sdboyer

pkgtree: add a Split() operation
  gps/_testdata/src/k8slike/foo/foo.go
  gps/_testdata/src/k8slike/staging/src/k8slike2/bar/bar.go
  gps/pkgtree/pkgtree.go
  gps/pkgtree/pkgtree_test.go
Owners: @sdboyer

add dependencies package
  internal/dependencies/deps.go
Owners: @sdboyer

add kdep datastructures
  internal/kdep/context.go
  internal/kdep/manifest.go
  internal/kdep/project.go
Owners: @sdboyer

make dep commands use kdep.Ctx instead of dep.Ctx
  cmd/dep/ensure.go
  cmd/dep/gopath_scanner.go
  cmd/dep/hash_in.go
  cmd/dep/init.go
  cmd/dep/main.go
  cmd/dep/prune.go
  cmd/dep/root_analyzer.go
  cmd/dep/status.go
  cmd/dep/version.go
Owners: @ibrasho, @carolynvs, @sdboyer, @darkowlzz

fix tests
  cmd/dep/ensure_test.go
  cmd/dep/gopath_scanner_test.go
  cmd/dep/main.go
  cmd/dep/main_test.go
  cmd/dep/status_test.go
Owners: @ibrasho, @carolynvs, @sdboyer, @darkowlzz

expose pure dep semantics behind a flag
  internal/kdep/context.go
  internal/kdep/kdep.go
  internal/kdep/manifest.go
  internal/kdep/project.go
Owners: @sdboyer

silence linter
  cmd/dep/ensure_test.go
  cmd/dep/gopath_scanner_test.go
  cmd/dep/main.go
  cmd/dep/status_test.go
  internal/dependencies/deps.go
Owners: @ibrasho, @carolynvs, @sdboyer, @darkowlzz

Fix [[project]] stanza description
  docs/Gopkg.lock.md
Owners: @sdboyer

Wrap the "Gopkg.lock" text with back-ticks
  docs/FAQ.md
Owners: @sdboyer

Add package import process to FAQ
  docs/FAQ.md
Owners: @sdboyer

Add Gophers Slack vendor channel as resource.
  CONTRIBUTING.md
Owners: @sdboyer

Workaround golint hosting problem.
  Makefile
Owners: @sdboyer

Deploy website
  docs/FAQ.html
Owners: @sdboyer

Add support for multiple directories in GOPATH environment vairable in install.sh
  install.sh
Owners: @sdboyer

Deploy website
  docs/FAQ.html
  docs/Gopkg.lock.html
  docs/ensure-mechanics.html
  docs/installation.html
  docs/migrating.html
Owners: @sdboyer

Support configuring CGO_ENABLED in hack/build-all script
  hack/build-all.bash
Owners: @sdboyer

Use CGO for MacOS releases
  .travis.yml
Owners: @sdboyer

Handle CGO_ENABLED automatically
  .travis.yml
  hack/build-all.bash
Owners: @sdboyer

Remove goline workaround
  Makefile
Owners: @sdboyer

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @sdboyer

Clarify initial setup steps in new-project.md
  docs/new-project.md
Owners: @sdboyer

Makefile: use simple variables
  Makefile
Owners: @sdboyer

gps: prevent hg extensions from interfering
  gps/vcs_source.go
Owners: @jmank88

test: unset GIT_DIR for git operations in integration tests
  internal/test/integration/testproj.go
Owners: @sdboyer

CollectConstraints from root project as well
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

Implement missing flag for dep status
  cmd/dep/status.go
Owners: @darkowlzz
