Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88

travis.yml: update to Go 1.11.x
  .travis.yml
Owners: @sdboyer

.travis.yml: only one YAML declaration
  .travis.yml
Owners: @sdboyer

Add a context.WithTimeout for running `git ls-remote`
  gps/vcs_source.go
Owners: @jmank88

Fix two typos, s/dependences/dependencies/
  docs/ensure-mechanics.md
Owners: @sdboyer

Fix two typos, s/dependences/dependencies/
  docs/ensure-mechanics.md
Owners: @sdboyer

Grammar and missing word fixes
  docs/migrating.md
Owners: @sdboyer

Run latest gofmt on project
  cmd/dep/status_test.go
  gps/verify/lockdiff.go
  internal/fs/fs_test.go
Owners: @darkowlzz, @sdboyer

codeclimate.yml: disable go fmt check
  .codeclimate.yml
Owners: @sdboyer

travis.yml: upgrade to Xenial
  .travis.yml
Owners: @sdboyer

travis.yml, hack: fix tests on tip
  .travis.yml
  hack/coverage.bash
  hack/test.bash
Owners: @sdboyer

install.sh: build s390x and include it in releases list
  .travis.yml
  hack/build-all.bash
  install.sh
Owners: @sdboyer

gps: kill entire child process group on failure
  Gopkg.lock
  gps/cmd_unix.go
Owners: @sdboyer

feat(arm): Add build and install support for armv6 and arm64
  .travis.yml
  hack/build-all.bash
  install.sh
Owners: @sdboyer

gps: simplify boolean expression
  gps/solve_test.go
Owners: @sdboyer

delete all duplicate empty blanks
  CONTRIBUTING.md
  cmd/dep/testdata/harness_tests/status/case1/table/stdout.txt
  cmd/dep/testdata/harness_tests/status/old_constraints/stdout.txt
  cmd/dep/testdata/harness_tests/status/override_constraint/stdout.txt
  cmd/dep/testdata/harness_tests/status/revision_constraint/stdout.txt
  docs/Gopkg.toml.md
  docs/env-vars.md
  website/blog/2018-07-25-announce-v0.5.0.md
  website/static/css/custom.css
Owners: @sdboyer, @darkowlzz

delete all duplicate empty blanks
  CONTRIBUTING.md
  cmd/dep/testdata/harness_tests/status/case1/table/stdout.txt
  cmd/dep/testdata/harness_tests/status/old_constraints/stdout.txt
  cmd/dep/testdata/harness_tests/status/override_constraint/stdout.txt
  cmd/dep/testdata/harness_tests/status/revision_constraint/stdout.txt
  docs/Gopkg.toml.md
  docs/env-vars.md
  website/blog/2018-07-25-announce-v0.5.0.md
  website/static/css/custom.css
Owners: @sdboyer, @darkowlzz

Added instruction for installing to Ubuntu by apt.
  README.md
Owners: @sdboyer

travis.yml: update to Go 1.12
  .travis.yml
  Gopkg.lock
  gps/pkgtree/pkgtree.go
  gps/pkgtree/pkgtree_test.go
  vendor/github.com/google/go-cmp/LICENSE
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/internal/value/format.go
  vendor/github.com/google/go-cmp/cmp/internal/value/sort.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/reporter.go
  vendor/github.com/google/go-cmp/cmp/unsafe_panic.go
  vendor/github.com/google/go-cmp/cmp/unsafe_reflect.go
Owners: @sdboyer

gps: better information for panic on nil version
  gps/solver.go
Owners: @sdboyer

gps: simplify `x = x <op> y` to `x <op>= y`
  gps/metrics.go
  gps/selection.go
  gps/trace.go
Owners: @sdboyer

Add installation command for Fedora
  docs/installation.md
Owners: @sdboyer

gps: replace redundant lambda wrapper with method value
  gps/source.go
Owners: @jmank88

daily-dep.md: add missing quotes
  docs/daily-dep.md
Owners: @sdboyer

docs: added missing word
  docs/migrating.md
Owners: @sdboyer

CHANGELOG: prepare for 0.5.1 release
  CHANGELOG.md
Owners: @sdboyer

gps: git: Force checkout
  gps/vcs_repo.go
Owners: @jmank88

upgrade toml import
  Gopkg.toml
Owners: @sdboyer

travis.yml: Use correct filenames for arm (v6/7) release files, so they get uploaded to Github
  .travis.yml
Owners: @sdboyer

Added request header to authenticate against go-get
  gps/deduce.go
Owners: @sdboyer

Imports added
  gps/deduce.go
Owners: @sdboyer

Gopkg.lock updated
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/fhs/go-netrc/netrc/example.netrc
  vendor/github.com/fhs/go-netrc/netrc/netrc_test.go
Owners: @sdboyer

netrc dependency added
  vendor/github.com/fhs/go-netrc/LICENSE
  vendor/github.com/fhs/go-netrc/netrc/example.netrc
  vendor/github.com/fhs/go-netrc/netrc/netrc.go
  vendor/github.com/fhs/go-netrc/netrc/netrc_test.go
Owners: @sdboyer

Gopkg.lock fixed
  Gopkg.lock
Owners: @sdboyer

Add backtracking tests
  gps/solve_bimodal_test.go
Owners: @sdboyer

Test dep ensure with a transitive constraint
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/README.md
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/initial/Gopkg.toml
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/initial/a.go
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/testcase.json
Owners: @ibrasho

Update existing (pre-PR) tests to pass
  gps/solve_bimodal_test.go
Owners: @sdboyer

gps: apply transitive constraints
  gps/identifier.go
  gps/solve_bimodal_test.go
  gps/solver.go
Owners: @sdboyer

Test dep init with a transitive constraint
  cmd/dep/testdata/harness_tests/init/transitive-constraint/README.md
  cmd/dep/testdata/harness_tests/init/transitive-constraint/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/transitive-constraint/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/init/transitive-constraint/initial/main.go
  cmd/dep/testdata/harness_tests/init/transitive-constraint/testcase.json
Owners: @carolynvs

Update test files to match new format
  cmd/dep/testdata/harness_tests/ensure/transitive-constraint/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/transitive-constraint/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/case1/table/stdout.txt
  cmd/dep/testdata/harness_tests/status/old_constraints/stdout.txt
  cmd/dep/testdata/harness_tests/status/override_constraint/stdout.txt
  cmd/dep/testdata/harness_tests/status/revision_constraint/stdout.txt
Owners: @ibrasho, @carolynvs, @darkowlzz

Use Go standard library instead of external dependency for netrc
  Gopkg.lock
  Gopkg.toml
  gps/deduce.go
  vendor/github.com/fhs/go-netrc/LICENSE
  vendor/github.com/fhs/go-netrc/netrc/netrc.go
Owners: @sdboyer
