Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

README updates based on feedback
  README.md
Owners: @sdboyer

README updates based on feedback
  README.md
Owners: @sdboyer

various corrections
  FAQ.md
Owners: @sdboyer

various corrections
  FAQ.md
Owners: @sdboyer

first pass at #855
  README.md
Owners: @sdboyer

slightly friendlier
  README.md
Owners: @sdboyer

Adaptively set ticker period for monitored cmd
  internal/gps/cmd.go
Owners: @sdboyer

fixup! Support semver suffixes
  internal/gps/source_manager_test.go
Owners: @sdboyer

add Gomfile importer
  cmd/dep/gom_importer.go
  cmd/dep/gom_importer_test.go
  cmd/dep/root_analyzer.go
  cmd/dep/testdata/gom/Gomfile
  cmd/dep/testdata/gom/expected_import_output.txt
Owners: @carolynvs, @sdboyer

fix check err
  cmd/dep/gom_importer.go
Owners: @carolynvs

unreachable code
  cmd/dep/gom_importer.go
Owners: @carolynvs

fix underscores
  cmd/dep/gom_importer.go
Owners: @carolynvs

fix constraint
  cmd/dep/gom_importer.go
Owners: @carolynvs

gom doesn't support constant
  cmd/dep/gom_importer.go
Owners: @carolynvs

enable constraint
  cmd/dep/gom_importer.go
  cmd/dep/gom_importer_test.go
Owners: @carolynvs

rebase master
  cmd/dep/gom_importer.go
Owners: @carolynvs

remove test and staff
  cmd/dep/gom_importer_test.go
Owners: @carolynvs

Simplify temp dir creation in tests
  internal/test/integration_testproj.go
Owners: @sdboyer

Simplify temp dir creation in tests
  internal/test/integration_testproj.go
Owners: @sdboyer

internal/gps: resolve race in monitoredCmd
  internal/gps/cmd.go
  internal/gps/cmd_test.go
Owners: @sdboyer

internal/gps: resolve race in monitoredCmd
  internal/gps/cmd.go
  internal/gps/cmd_test.go
Owners: @sdboyer

Support semver sufixes
  cmd/dep/godep_importer_test.go
  internal/gps/source_manager.go
  internal/gps/source_manager_test.go
Owners: @carolynvs, @sdboyer

Support semver sufixes
  cmd/dep/godep_importer_test.go
  internal/gps/source_manager.go
  internal/gps/source_manager_test.go
Owners: @carolynvs, @sdboyer

fix build
  cmd/dep/gom_importer.go
  cmd/dep/gom_importer_test.go
  cmd/dep/testdata/gom/expected_import_output.txt
Owners: @carolynvs, @sdboyer

Typoo, specify when the OSX fix should be executed
  internal/test/integration_testproj.go
Owners: @sdboyer

Typoo, specify when the OSX fix should be executed
  internal/test/integration_testproj.go
Owners: @sdboyer

ImportForAbs -> ImportPathForProject
  cmd/dep/init.go
  context.go
  context_test.go
Owners: @carolynvs, @sdboyer

Missing gofmt
  context_test.go
Owners: @sdboyer

Symlink check not required for Windows
  context_test.go
Owners: @sdboyer

Check if project is missing from vendor during ensure
  cmd/dep/ensure.go
Owners: @ibrasho

Fixed the link to FAQ
  README.md
Owners: @sdboyer

Fixed the link to FAQ
  README.md
Owners: @sdboyer

internal/fs: update TestCopyFileSymlink and rename copySymlink
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/testdata/symlinks/dir-symlink
  internal/fs/testdata/symlinks/file-symlink
  internal/fs/testdata/symlinks/invalid-symlink
Owners: @sdboyer

internal/fs: update TestCopyFileSymlink and rename copySymlink
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/testdata/symlinks/dir-symlink
  internal/fs/testdata/symlinks/file-symlink
  internal/fs/testdata/symlinks/invalid-symlink
Owners: @sdboyer

internal/gps: remove vcs (bzr & hg) directories from vendor/
  internal/gps/vcs_source.go
Owners: @sdboyer

internal/gps: remove vcs (bzr & hg) directories from vendor/
  internal/gps/vcs_source.go
Owners: @sdboyer

add operators and other fixes
  README.md
Owners: @sdboyer

fixes fixes
  README.md
Owners: @sdboyer

Remove some old TODOs that no longer apply
  analyzer.go
  internal/gps/bridge.go
  internal/gps/constraint_test.go
  internal/gps/result.go
Owners: @carolynvs, @sdboyer

document lock mismatch state for ensure
  README.md
Owners: @sdboyer

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/*_importer*                    @carolynvs
/cmd/dep/testdata/glide                 @carolynvs
/cmd/dep/testdata/godep                 @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/cmd/dep/testdata/init**                @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps caching
/internal/gps/source_cache* @jmank88
