Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88

gps: unset some GIT_* variables for git operations
  gps/cmd.go
Owners: @sdboyer

remove golang mirror flag,use golang.org when getting golang.org http meta failed
  cmd/dep/init.go
  gps/deduce.go
  gps/source_manager.go
Owners: @carolynvs, @sdboyer, @jmank88

add option to use github mirror of golang.org packages
  cmd/dep/init.go
  gps/deduce.go
  gps/source_manager.go
Owners: @carolynvs, @sdboyer, @jmank88

change google.org package name prefix to stdlib
  gps/deduce.go
  gps/source_manager.go
Owners: @sdboyer, @jmank88

remove sync.Once for deducerTrie Insert
  gps/source_manager.go
Owners: @jmank88

Remove filter for prefixed underscore in directory name
  CHANGELOG.md
  gps/pkgtree/reachmap.go
Owners: @sdboyer

Implement missing flag for dep status
  cmd/dep/status.go
  cmd/dep/status_test.go
  cmd/dep/testdata/status/missing/main.go
Owners: @darkowlzz, @sdboyer

CollectConstraints from root project as well
  cmd/dep/status.go
  cmd/dep/status_test.go
Owners: @darkowlzz

dep: Allow explicitly setting the project root
  context.go
  context_test.go
Owners: @sdboyer

dep: Change DEP_PROJECT_ROOT to DEPPROJECTROOT
  context.go
Owners: @sdboyer

dep: Add DEPPROJECTROOT CHANGELOG entry and docs
  CHANGELOG.md
  docs/env-vars.md
  docs/glossary.md
  website/sidebars.json
Owners: @sdboyer

prune: Hide command from help output
  cmd/dep/prune.go
Owners: @sdboyer

POC: external file-based registry
  CHANGELOG.md
  Dockerfile.1.10
  Dockerfile.1.9
  Dockerfile.alpine-1.10
  Dockerfile.alpine-1.9
  README.md
  cmd/dep/ensure.go
  cmd/dep/status.go
  context.go
  gps/deduce.go
  gps/deduce_test.go
  gps/registry.go
  gps/source.go
  gps/source_manager.go
  gps/source_test.go
Owners: @sdboyer, @ibrasho, @darkowlzz, @jmank88

Add the git+ssh rewrite config settings
  docs/FAQ.md
Owners: @sdboyer

Adding more emphasis to the need of create a go file before running ensure
  docs/new-project.md
Owners: @sdboyer

gps: Fix Wrapf warnings
  gps/source_cache_bolt.go
  gps/vcs_version.go
Owners: @jmank88

gps: Remove test dependent on version unifier
  gps/solve_basic_test.go
Owners: @sdboyer

dep: Update harness tests relying on unification
  cmd/dep/testdata/harness_tests/ensure/add/desync/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/empty/case2/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/pkg-ignored/wildcard-ignore/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/update/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/update/desync/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/gvt/case1/initial/vendor/manifest
Owners: @ibrasho, @carolynvs

gps: Remove versionTypeUnion
  gps/constraint.go
  gps/constraint_test.go
  gps/satisfy.go
  gps/selection.go
  gps/solver.go
  gps/version.go
  gps/version_unifier.go
  gps/version_unifier_test.go
Owners: @jmank88, @sdboyer

gps: Modify tests dependent on version unifier
  gps/solve_basic_test.go
Owners: @sdboyer

Update CHANGELOG
  CHANGELOG.md
Owners: @sdboyer

ci: Ignore main file in licenseok
  Makefile
  hack/licenseok/main.go
  hack/validate-licence.bash
Owners: @sdboyer

Add support for ppc64x.
  CHANGELOG.md
  hack/build-all.bash
  install.sh
Owners: @sdboyer

verify: Relocate lock diffing and tree hashing
  gps/verify/digest.go
  gps/verify/digest_test.go
  gps/verify/dirwalk.go
  gps/verify/lock.go
  gps/verify/lockdiff.go
  gps/verify/lockdiff_test.go
Owners: @sdboyer

gps: Diff->Delta, and bitfield for change checking
  gps/verify/digest.go
  gps/verify/digest_test.go
  gps/verify/lockdiff.go
  testdata/txn_writer/original_lock.toml
  testdata/txn_writer/updated_lock.toml
  txn_writer.go
  txn_writer_test.go
Owners: @sdboyer

dep: Add foundation for verified, pruned vendor
  gps/lockdiff.go
  gps/lockdiff_test.go
  gps/pkgtree/digest.go
  gps/pkgtree/digest_test.go
  gps/prune.go
  gps/solve_basic_test.go
  gps/source.go
  gps/source_manager.go
  lock.go
  lock_test.go
  testdata/lock/error0.toml
  testdata/lock/error1.toml
  testdata/lock/error2.toml
  testdata/lock/golden0.toml
  testdata/lock/golden1.toml
  testdata/txn_writer/expected_diff_output.txt
  testdata/txn_writer/expected_lock.toml
  txn_writer.go
  txn_writer_test.go
Owners: @sdboyer, @jmank88

dep: Make DeltaWriter use temp sibling vendor dir
  txn_writer.go
Owners: @sdboyer

dep: Tell the user why we're solving
  Gopkg.lock
  cmd/dep/ensure.go
  cmd/dep/init.go
  cmd/dep/status.go
  context.go
  gps/verify/digest.go
  gps/verify/lock.go
  gps/verify/lockdiff.go
  lock.go
  manifest.go
  project.go
  txn_writer.go
Owners: @sdboyer, @ibrasho, @carolynvs, @darkowlzz

gps: Introduce verify subpackage
  gps/verify/lock.go
  project.go
Owners: @sdboyer

gps: Remove all reference to InputsDigest
  cmd/dep/hash_in.go
  gps/hash.go
  gps/hash_test.go
  gps/lock.go
  gps/lock_test.go
  gps/lockdiff_test.go
  gps/prune.go
  gps/solution.go
  gps/solve_basic_test.go
  gps/solver.go
  gps/source_cache_bolt_encode.go
  gps/source_cache_bolt_test.go
  gps/source_cache_test.go
Owners: @sdboyer, @jmank88

Remove InputsDigest, add InputImports
  gps/selection.go
  gps/solution_test.go
  gps/solver.go
  lock.go
  lock_test.go
  txn_writer.go
Owners: @sdboyer

dep: Introduce lock verification logic
  cmd/dep/ensure.go
  lock.go
  project.go
Owners: @ibrasho, @sdboyer

dep: Get DeltaWriter into a working state
  Gopkg.lock
  cmd/dep/ensure.go
  cmd/dep/ensure_test.go
  cmd/dep/init.go
  cmd/dep/integration_test.go
  cmd/dep/main.go
  cmd/dep/prune.go
  cmd/dep/root_analyzer.go
  cmd/dep/status.go
  gps/solver.go
  gps/source_cache.go
  gps/source_cache_bolt_encode.go
  gps/source_cache_bolt_test.go
  gps/source_cache_test.go
  gps/verify/digest.go
  gps/verify/lockdiff.go
  internal/feedback/feedback.go
  internal/feedback/feedback_test.go
  lock.go
  lock_test.go
  project.go
  testdata/lock/golden1.toml
  txn_writer.go
Owners: @sdboyer, @ibrasho, @carolynvs, @darkowlzz, @jmank88

gps: Convert LockedProject to an interface
  gps/bridge.go
  gps/lock.go
  gps/lock_test.go
  gps/lockdiff.go
  gps/lockdiff_test.go
  gps/prune_test.go
  gps/solution_test.go
  gps/solve_basic_test.go
  gps/solve_test.go
  gps/solver.go
  gps/source_cache_bolt_encode.go
  gps/trace.go
  lock.go
  lock_test.go
Owners: @sdboyer, @jmank88

gps: Collapse LockWithImports into Lock
  gps/lock.go
  gps/solution.go
  gps/solve_basic_test.go
  gps/source_cache.go
  gps/source_cache_bolt_encode.go
  gps/source_cache_bolt_test.go
  gps/verify/lock.go
  gps/verify/lockdiff.go
  gps/verify/locksat.go
Owners: @sdboyer, @jmank88

dep: Make DeltaWriter sensitive to -vendor-only
  cmd/dep/ensure.go
  cmd/dep/testdata/harness_tests/ensure/default/hashneq-vendoronly/final/Gopkg.lock
  gps/verify/lockdiff.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

Don't exclude Godeps folder. Fixes #1822
  CHANGELOG.md
  gps/pkgtree/pkgtree.go
Owners: @sdboyer

dep: Fix linting issues, update CHANGELOG
  CHANGELOG.md
  cmd/dep/init.go
  gps/constraint.go
  gps/prune.go
  gps/selection.go
  gps/verify/locksat.go
  txn_writer.go
  txn_writer_test.go
Owners: @sdboyer, @carolynvs, @jmank88

dep: Linting fixes
  cmd/dep/ensure.go
  gps/manifest.go
  gps/verify/digest.go
  gps/verify/digest_test.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

Adds cygwin support to the install.sh script. Fixes #1740
  install.sh
Owners: @sdboyer
