Repository golang/dep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sdboyer, @carolynvs, @ibrasho, @darkowlzz, @jmank88

Implement missing flag for dep status
  cmd/dep/status.go
  cmd/dep/status_test.go
  cmd/dep/testdata/status/missing/main.go
Owners: @darkowlzz, @sdboyer

dep: Implement DeltaWriter.PrintPreparedActions()
  cmd/dep/ensure.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

dep: Use DeltaWriter on -no-vendor path, as well
  cmd/dep/ensure.go
Owners: @ibrasho

Implement missing flag for dep status
  cmd/dep/status.go
Owners: @darkowlzz

gps/verify: Add tests for LockSatisfaction
  cmd/dep/ensure.go
  cmd/dep/status.go
  gps/verify/helper_types_test.go
  gps/verify/locksat.go
  gps/verify/locksat_test.go
Owners: @ibrasho, @darkowlzz, @sdboyer

gps/verify: Add LockDiff unit tests
  gps/verify/helper_types_test.go
  gps/verify/lockdiff.go
  gps/verify/lockdiff_test.go
Owners: @sdboyer

dep: Fix -vendor-only path's invocation ordering
  cmd/dep/ensure.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

dep: Update docs to reflect vendor verification
  docs/Gopkg.lock.md
  docs/daily-dep.md
  docs/ensure-mechanics.md
  docs/env-vars.md
  docs/glossary.md
Owners: @sdboyer

dep: Switch back to SafeWriter for -vendor-only
  cmd/dep/ensure.go
  cmd/dep/testdata/harness_tests/ensure/default/hashneq-vendoronly/final/Gopkg.lock
Owners: @ibrasho

Deploy website
  docs/FAQ.html
  docs/Gopkg.lock.html
  docs/Gopkg.toml.html
  docs/daily-dep.html
  docs/deduction.html
  docs/ensure-mechanics.html
  docs/env-vars.html
  docs/failure-modes.html
  docs/glossary.html
  docs/installation.html
  docs/introduction.html
  docs/migrating.html
  docs/new-project.html
  docs/the-solver.html
  sitemap.xml
Owners: @sdboyer

dep: Encapsulate vendor verification into method
  cmd/dep/ensure.go
  cmd/dep/ensure_test.go
  project.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

Add missing license header
  internal/feedback/lockdiff.go
Owners: @carolynvs

dep: Fix nil logger panic, cleanup delta output
  cmd/dep/ensure.go
  txn_writer.go
Owners: @ibrasho, @sdboyer

dep: Update go-toml to v1.2.0
  Gopkg.lock
  txn_writer.go
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/pelletier/go-toml/tomltree_write.go
Owners: @sdboyer

dep: Fix tests to accommodate trailing TOML comma
  cmd/dep/testdata/harness_tests/ensure/add/all-new-double-spec/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/all-new-double/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/all-new-spec/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/all-new/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/desync/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/add/exists-manifest-constraint/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/update/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/ensure/update/desync/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/case2/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/case3/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/case4/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/glide/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/glide/case1/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/init/glide/direct-trans-no-conflict/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/glide/trans-trans-unspecified/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/glide/trans-trans/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/init/govendor/case1/final/Gopkg.toml
  cmd/dep/testdata/harness_tests/init/gvt/case1/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/case1/dot/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/case1/json/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/case1/table/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/case1/template/final/Gopkg.lock
  cmd/dep/testdata/harness_tests/status/old_constraints/final/Gopkg.lock
Owners: @ibrasho, @carolynvs, @darkowlzz

docs: hash-inputs is gone, nix it from PR template
  .github/ISSUE_TEMPLATE.md
Owners: @sdboyer

Deploy website
  docs/FAQ.html
  docs/Gopkg.lock.html
  docs/daily-dep.html
  docs/ensure-mechanics.html
  docs/env-vars.html
  docs/glossary.html
Owners: @sdboyer

dep: Use only POSIX-compatible sh syntax
  install.sh
Owners: @sdboyer

dep: Don't try to look up known-removed projects
  Gopkg.lock
  txn_writer.go
Owners: @sdboyer

Update env-vars.md
  docs/env-vars.md
Owners: @sdboyer

main.go: fix printing of 'dep -h'
  cmd/dep/main.go
Owners: @sdboyer

dep: Introduce dep check subcommand
  cmd/dep/check.go
  cmd/dep/ensure.go
  cmd/dep/main.go
  gps/verify/digest.go
  gps/verify/lockdiff.go
  project.go
  txn_writer.go
Owners: @sdboyer, @ibrasho

Update CHANGELOG
  CHANGELOG.md
  cmd/dep/check.go
Owners: @sdboyer

Removes "echo" statement introduced with commit 918c75
  install.sh
Owners: @sdboyer

dep: Add license header to check.go
  cmd/dep/check.go
Owners: @sdboyer

remove extra "directly" word and extra comma
  docs/ensure-mechanics.md
Owners: @sdboyer

Limit number of concurrent goroutines in dep status
  cmd/dep/status.go
  cmd/dep/utils/fd_limit_default.go
  cmd/dep/utils/fd_limit_nix.go
Owners: @darkowlzz, @sdboyer

graphviz: project-package relation graph
  cmd/dep/graphviz.go
  cmd/dep/graphviz_test.go
  cmd/dep/status.go
  cmd/dep/testdata/graphviz/case1.dot
  cmd/dep/testdata/graphviz/case2.dot
  cmd/dep/testdata/graphviz/empty.dot
  cmd/dep/testdata/graphviz/subgraph1.dot
  cmd/dep/testdata/graphviz/subgraph2.dot
  cmd/dep/testdata/graphviz/subgraph3.dot
  cmd/dep/testdata/graphviz/subgraph4.dot
Owners: @darkowlzz, @sdboyer

Add to changelog
  CHANGELOG.md
Owners: @sdboyer

docs: Update with info about sync, diff, verify
  docs/Gopkg.lock.md
  docs/ensure-mechanics.md
  docs/glossary.md
Owners: @sdboyer

Deploy website
  docs/Gopkg.lock.html
  docs/ensure-mechanics.html
  docs/glossary.html
Owners: @sdboyer

context_test.go: Reverse incorrect string parameters in TestDetectGOPATH
  context_test.go
Owners: @sdboyer

internal/fs: Use filepath.Clean() on string parameters in HasFilepathPrefix
  internal/fs/fs.go
  internal/fs/fs_test.go
Owners: @sdboyer

context.go: Clean GOPATH with filepath.Clean() before returning
  context.go
  context_test.go
Owners: @sdboyer

dep: Catch DeltaWriter diff bookkeeping errors
  docs/glossary.md
  txn_writer.go
  website/i18n/en.json
Owners: @sdboyer

dep: fix assignment
  txn_writer.go
Owners: @sdboyer

docs: Fix up DEPCACHEAGE docs
  docs/env-vars.md
Owners: @sdboyer

test: Don't add -v to dep check tests
  internal/test/integration/testproj.go
  internal/test/test.go
Owners: @sdboyer

check: Include vendor/ in path output
  cmd/dep/check.go
Owners: @sdboyer

dep: Make SafeWriter use status map for OnChanged
  cmd/dep/ensure.go
  cmd/dep/init.go
  txn_writer.go
  txn_writer_test.go
Owners: @ibrasho, @carolynvs, @sdboyer

.github/CODEOWNERS:

# general
* @sdboyer

# init
/cmd/dep/init*                          @carolynvs
/cmd/dep/gopath_scanner*                @carolynvs
/cmd/dep/root_analyzer*                 @carolynvs
/cmd/dep/testdata/init                  @carolynvs
/cmd/dep/testdata/harness_tests/init    @carolynvs
/internal/importers                     @carolynvs
/analyzer*                              @carolynvs
/testdata/analyzer                      @carolynvs
/internal/feedback                      @carolynvs

# ensure
/cmd/dep/ensure*                          @ibrasho
/cmd/dep/testdata/harness_tests/ensure**  @ibrasho

# status
/cmd/dep/status*                          @darkowlzz
/cmd/dep/testdata/harness_tests/status**  @darkowlzz
/cmd/dep/graphviz*                        @darkowlzz

# gps components
/gps/source*     @jmank88
/gps/constraint* @jmank88
/gps/version*    @jmank88
/gps/vcs*        @jmank88
